<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.handwrittensignature">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HandwrittenSignature">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".InputName" />
        <activity android:name=".SelectMode"/>
        <activity android:name=".SelectStatus"/>
        <activity android:name=".RealSign"/>
        <activity android:name=".ForgerySign_Unskilled"/>
        <activity android:name=".ForgerySign_Skilled_Practice"/>
        <activity android:name=".ForgerySign_Skilled"/>

    </application>



</manifest>